html
    head
        title!= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Vollkorn')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100')
        link(rel='stylesheet', href='/css/styles.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='/js/script.js')
    body
       .container.main
           .col-md-12
               form(class="search-form")
                    input(type="text", placeholder="Search pictures by tag and press ENTER" class="search-input")
           - var count = 0;
           - if (typeof data[0] == 'undefined') {
                .col-md-12
                    p.no-results no results
           - }
           - else {
               each thing in data
                   - if (count % 3 === 0 || i === 0) {
                    .row
                   - }
                       .col-md-4
                           .card
                               img(class = "card-media", src = thing.images.low_resolution['url'])
                               p.card-description #{thing.caption.text}

                       - count ++
           -}
